/**/

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v21/neILzCirqoswsqX9zoamM5Ez.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_dJE3g3D_u50.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/**/



/**/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  border: none;
  outline: none;
}

body {
  font-family: 'Montserrat';
  
  background: #373c55;
}

.x1200 .l-page,
.x1000 .l-page {
  box-shadow: 0 0 30px #00000050;
}

.to-top-fix {
  display: none;
}

.l-top_menu { 
  background: linear-gradient(to left, #373c55, #191928);
  border: none;
  box-shadow: 0 0 30px #00000050; 
}

@media only screen and (min-width: 1025px) {
  .l-top_menu {
    height: 65px;
  }
}

.x1000 .l-top_menu .inner,
.x1200 .l-top_menu .inner {
  display: flex;
  align-items: center;
  height: 65px;
}

/**/



/* .l-top_menu .inner .logo */

.l-top_menu .inner .logo {
  position: static;
  
  order: 1;
  width: auto;
  height: auto;
  margin: 0;
  margin-right: 25px;
  
  background: none;
}

.l-top_menu .inner .logo:after {
  content: "Шикимори";
  
  font-family: 'Lobster';
  font-size: 35px;
  line-height: 1;
  color: #fff;
  
  transition: text-shadow 100ms ease;
}

.l-top_menu .inner .logo:hover:after {
  text-shadow: 0 0 25px #ffffff90;
}

.l-top_menu .inner .logo:active:after {
  text-shadow: 0 0 15px #ffffff90;
}

/**/



/* .l-top_menu .menu-items */

.l-top_menu .menu-items {
  display: flex;
  align-items: center;
  order: 2;
  margin: 0;
}

/**/



/* .l-top_menu .menu-items > .entry */

.l-top_menu .menu-items > .entry { 
  margin-right: 10px;
  
  border: 1px solid transparent;
  border-radius: 3px;
}

.l-top_menu .menu-items > .entry:hover {
  background: none;
  border-color: #fff;
}

.l-top_menu .menu-items > .entry:active {
  background: none;
  border: 1px solid #fff;
}

.l-top_menu .menu-items > .entry > a {
  display: block;
  padding: 10px;
  
  font-size: 12px;
  line-height: 1;
  
  color: #ffffff70;
}

.l-top_menu .menu-items > .entry > a:hover {
  color: #fff;
}

.l-top_menu .menu-items > .entry > a:active {
  color: #ffffff30 !important;
}

/**/



/* .l-top_menu .submenu */

.l-top_menu .submenu {
  position: absolute;
  top: 65px;
  z-index: 1000;

  display: none;
  margin: 0;
  overflow: hidden;

  background: none;
  border: none;

  -webkit-transition: all 0s ease 0s;
  transition: all 0s ease 0s;  
}

/**/



/* .l-top_menu .submenu > .entry */

.l-top_menu .submenu > .entry {
  display: block;
  min-width: 140px;
  height: auto;
  padding: 10px;

  font-family: inherit;
  font-size: 11px;
  line-height: 1;
  color: #ffffff90;

  background-color: #505a7d;
  border: none;

  -webkit-transition: all 0s ease 0s;
  transition: all 0s ease 0s;

  cursor: pointer;
}

.l-top_menu .submenu > .entry:hover {
  color: #fff;
  
  background-color: #aaafdc;
}

.l-top_menu .submenu>.entry:active {
  color: #ffffff90 !important;
  
  background-color: #aaafdc;
}

.l-top_menu .submenu>.entry.active {
  background-color: #e4e4e4;
}

/**/



/* .l-top_menu .menu-items > entry.selected */

.l-top_menu .menu-items > .entry.selected {
  background-color: #e4e4e4;
}

.l-top_menu .menu-items > .entry.selected:hover {
  border-color: transparent;
}

.l-top_menu .menu-items > .entry.selected > a {
  color: #191928;
}

.l-top_menu .menu-items > .entry.selected > .submenu > a:active {
  color: #ffffff90 !important;
}

.l-top_menu .menu-items > .entry.selected > .submenu > .entry.active {
  color: #fff;
  
  background-color: #aaafdc;
}

/**/



/* .b-main_search */

.b-main_search {
  padding: 0 !important;
}

.l-top_menu .menu-search {  
  float: none;
  order: 3;
  margin-right: 25px;
  margin-left: auto;
}

.l-top_menu .menu-search > .entry,
.l-top_menu .menu-userbox > .entry {
  float: none;
  padding: 0;

  font-size: 11px;
  line-height: 1;
  color: #000;

  -webkit-transition: all 0s ease 0s;
  transition: all 0s ease 0s;

  cursor: pointer;
}

.b-main_search .input {
  display: flex;
  width: 180px;
  height: 34px;
  margin: 0;
  padding: 0;
  overflow: visible;

  background: none;
  border: none;
  border-radius: 19px;
}

.b-main_search .input input {
  display: flex;
  align-items: center;
  flex-grow: 1;
  width: 180px;
  height: 34px;
  padding: 0 15px;

  font-family: inherit;
  font-size: 11px;
  line-height: 1;
  color: #fff;

  background: none;
  border: 1px solid #ffffff70;
  border-radius: 19px;

  transition: background 100ms ease;
}
  
.b-main_search .input input::-webkit-input-placeholder {
  color: #ffffff70;
}

.b-main_search .input input::-moz-placeholder {
  color: #ffffff70;
}

.b-main_search .input input:-moz-placeholder {
  color: #ffffff70;
}

.b-main_search .input input:-ms-input-placeholder {
  color: #ffffff70;
}

.b-main_search .input input:focus {
  color: #000;
  
  background: #fff;
  border-color: #fff;
}

.b-main_search .input input:focus::-webkit-input-placeholder {
  color: #000;
}

.b-main_search .input input:focus::-moz-placeholder {
  color: #000;
}

.b-main_search .input input:focus:-moz-placeholder {
  color: #000;
}

.b-main_search .input input:focus:-ms-input-placeholder {
  color: #000;
}

.b-main_search .suggest-placeholder {      
  margin: 0;
}

.b-main_search ul.popup {
  position: absolute;
  top: 65px;
  z-index: 1000;

  height: 0;
  margin: 0;

  background: #3F3F3F;
  border: none;

  -webkit-transition: all 0s ease 0s;
  transition: all 0s ease 0; 
}

.b-main_search.hovered .popup {
  height: auto;
  margin: 0;
}

.b-main_search ul.popup li {
  width: 180px;
  height: auto;
  padding: 10px;

  font-family: inherit;
  font-size: 11px;
  line-height: 1;
  color: #ffffff90;

  background: #51597E;
  border: none;
}

.b-main_search ul.popup li:hover {
  color: #fff;
  
  background-color: #aaafdc;
}

.b-main_search ul.popup li:active {
  color: #ffffff90;
}

.b-main_search .popup li.active {
  color: #fff;
  
  background-color: #aaafdc;
}

.l-top_menu .menu-items>.entry.calendar>a,
.l-top_menu .menu-items>.entry.info>a,
.l-top_menu .menu-items>.entry.moderation>a {  
  margin: 0;
  padding: 10px;

  line-height: 1;
}

/**/



/* Текущий турнир, аватарка, уведомления */

.menu .avatar {
  height: 36px;
  
  border-radius: 50%;
  
  transition: transform 100ms ease;
}

.menu .avatar:hover {
  box-shadow: 0 0 25px #5DA1BB90;
}

.menu .avatar:active {
  box-shadow: 0 0 15px #5DA1BB90;
}

@media only screen and (min-width: 1025px) {
  .l-top_menu .menu-search .arrow-container,
  .l-top_menu .menu-userbox .arrow-container {
    display: none;
  }
}

.l-top_menu .menu-items>.entry:nth-child(5) {
  position: relative;
}

.l-top_menu .menu-items>.entry>.contest {
  position: absolute;
  top: calc(50% - 15px);
  transform: translateY(-50%);
  right: -5px;
  
  margin: 0;
}

.l-top_menu .menu-items>.entry>.contest:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  margin: 0;
  
  line-height: 1;
}

.l-top_menu .entry .contest {
  margin: 0;
  padding: 0 !important;
}

.menu .unread-count,
.menu .contest {
  float: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  
  font-weight: bold;
  font-size: 11px;
  line-height: 1;
  color: #f9f9f9;
  text-align: center;
  
  background: #48506D;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  
  -webkit-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
}

.menu .unread-count:hover,
.menu .contest:hover {
  background: #BC492D !important;
}

.menu .contest:before {
  content: "✓";
  
  font-family: shikimori;
  font-weight: normal;
  font-size: 11px;
  line-height: 1;
  letter-spacing: normal;
  color: #fff;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
}

.menu .entry:hover .unread-count,
.menu .entry:hover .contest {
  color: #fff;
  
  background: #F1572E;
}

.menu .unread-count,
.menu .contest {
  margin: 0;
}

.menu .unread-count {
  position: absolute;
  top: calc(50% - 15px);
  transform: translateY(-50%);
  right: -5px;
}

.userbox { 
  height: 36px;
}

@media only screen and (min-width: 1025px) {
  .l-top_menu .menu-userbox {
    float: none;
    order: 4;
  }
}

/**/